<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}">
    {{ partial "navbar.html" . }}
    
    <div class="container-fluid td-default td-outer">
      <main role="main" class="td-main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
    {{ partial "footer.html" . }}
    {{ partialCached "scripts.html" . }}
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </body>
</html>