<footer class="out-footer ">
      <div class="col-12 col-md-9 col-xl-8 pl-md-5 mx-auto">
            <div class="footer">
                  <div>
                        <h3>所有产品</h3>
                        <ul>
                              <a href="https://fw.koolcenter.com/Koolshare_ASUS_Official_Mod/" target="_blank" rel="noopener noreferrer">
                                    <li>华硕官改固件</li>
                              </a>
                              <a href="https://fw.koolcenter.com/Koolshare_RMerl_New_Gen_386/" target="_blank" rel="noopener noreferrer">
                                    <li>梅林改版386固件</li>
                              </a>
                              <a href="https://fw.koolcenter.com/LEDE_X64_fw867/" target="_blank" rel="noopener noreferrer">
                                    <li>软路由FW867固件</li>
                              </a>
                              <a href="https://github.com/linkease/istore" target="_blank" rel="noopener noreferrer">
                                    <li>iStore</li>
                              </a>
                        </ul>
                  </div>
                  <div>
                        <h3>购买渠道</h3>
                        <ul>
                              <a href="https://koolcenter.taobao.com/" target="_blank" rel="noopener noreferrer">
                                    <li>官方淘宝店</li>
                              </a>
                        </ul>
                  </div>
                  <div>
                        <h3>帮助与沟通</h3>
                        <ul>
                              <a href="https://github.com/linkease/linkease/issues" target="_blank" rel="noopener noreferrer">
                                    <li>问题反馈</li>
                              </a>
                              <a href="mailto:support@linkease.com" target="_blank" >
                                    <li>商务洽谈</li>
                              </a>
                        </ul>
                  </div>
                  <div>
                        <h3>关于KoolCenter</h3>
                        <ul>
                              <a href="https://doc.linkease.com/zh/guide/about/" target="_blank" rel="noopener noreferrer">
                                    <li>关于我们</li>
                              </a>
                              <a href="mailto:xiaobao@linkease.com" target="_blank" rel="noopener noreferrer">
                                    <li>联系我们</li>
                              </a>
                        </ul>
                  </div>
                  <div>
                        <h3>友情链接</h3>
                        <ul>
                              <a href="https://www.linkease.com/" target="_blank" rel="noopener noreferrer">
                                    <li>易有云</li>
                              </a>
                              <a href="https://www.koolshare.cn/" target="_blank" rel="noopener noreferrer">
                                    <li>KoolShare论坛</li>
                              </a>
                        </ul>
                  </div>
            </div>
            <div class="company">易友云网络科技有限责任公司 Copyright © 2019-2021 备案号：<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">粤ICP备20024441号</a></div>
      </div>
</footer>
